@media (max-width: 500px) {
  body {
    background-color: blue;
    color: white;
  }
  #mainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }
  #container {
    background-color: black;
    width: 80%;
    height: 500px;
  }
  #hours,
  #mins,
  #second {
    font-size: 50px;
  }
  #displalyhour,
  #displaymin {
    font-size: 35px;
    color: yellow;
    padding-left: 10px;
  }
  input {
    background: none;
    border: none;
    font-size: 25px;
    color: red;
    padding-left: 10px;
  }
  #buttonContainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  button {
    width: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  #oneB {
    background-color: green;
    color: white;
  }
  #twoB {
    background-color: red;
    color: white;
  }
  img {
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 501px) {
  body {
    background-color: blue;
    color: white;
  }
  #mainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }
  #container {
    background-color: black;
    width: 50%;
    height: 500px;
  }
  #hours,
  #mins,
  #second {
    font-size: 50px;
  }
  #displalyhour,
  #displaymin {
    font-size: 35px;
    color: yellow;
    padding-left: 10px;
  }
  input {
    background: none;
    border: none;
    font-size: 25px;
    color: red;
    padding-left: 10px;
  }
  #buttonContainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  button {
    width: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  #oneB {
    background-color: green;
    color: white;
  }
  #twoB {
    background-color: red;
    color: white;
  }
  img {
    margin-top: 30px;
    width: 300px;
    height: 200px;
  }
  #image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
